<section class="card">
  <a href="/artPiece/{{id}}">
    <div class="card-body">
      <img src="{{path}}" alt="{{description}}">
      <p>{{name}}</p>
      <p>By: {{username}}</p> Created: {{createdAt}} </p>

    </div>
  </a>
</section>