<section class="card">
  <a href="/artPiece/{{id}}">
    <header>{{name}}</header>
    <div class="card-body">
      <img src="{{path}}" alt="{{description}}">
    {{!--unfinished pending- need to add user info, only have userID now --}}
      {{!-- <p>By: {{User}}</p> --}}
      <p> {{genre}}</p>
      <p> Created: {{createdAt}} </p>
    </div>
  </a>
</section>