<section class="card">
  <a href="/artPiece/{{id}}" >
    <div id="img-part">
      <img src="{{path}}" alt="{{description}}">
    </div>
    <div id="info">
      <p>{{name}}</p>
      <a href="/gallery/{{User.id}}">
      <p>By {{User.username}}</p> </a> Created: {{createdAt}} </p>
    </div>
  </a>
</section>