<section class="card">
  <a href="/artPiece/{{id}}" >
    <div class="card-body flex-row justify-center">
      <img src="{{path}}" alt="{{description}}">
      <p>{{name}}</p>
      
      <p>By: {{User.username}}</p> Created: {{createdAt}} </p>

    </div>
  </a>
</section>