<section class="card">
  <a href="/artPiece/{{id}}" >
    <div class="card-body flex-row justify-center">
      <img src="{{path}}" alt="{{description}}">
<<<<<<< HEAD
      <h4>{{name}}</h4>
      <h6>By: {{username}} Created: {{createdAt}} </h6>
=======
      <p>{{name}}</p>
      <p>By: {{User.username}}</p> Created: {{createdAt}} </p>

>>>>>>> 7968656edee2bbbef88cc643a57f6c480524ea02
    </div>
  </a>
</section>