<div class="flex w-full flex-col items-center">
    <div class="flex flex-col w-[75%] items-center">
    
        <img class="max-w-fit" src="{{artPiece.path}}" > 


        <div class="image-info">
            <input class="art-name">Piece name: {{artPiece.name}}</input>
            <button id="likeButton" data-artId="{{artPiece.id}}" class="btn btn-primary" type="submit" data-liked="{{isLiked}}">
            {{#if isLiked}}
            Unlike
            {{else}}
            Like
            {{/if}}
            </button>
        </div>
        <button class="like-count-button" LikeCount:{{artPiece.Likes.length}}>
        </button>
        <div class="artist-name-keyword">
            <h3>Artist:{{artPiece.User.username}} </h3>
            <div class="art-piece-keyword">Keywords:
            <input></input>
        </div>

        
            {{!-- <h3>Genre of art:{{artPiece.genre}}</h3> --}}
        </div>
        <div class="art-description">Description:
            <input>{{artPiece.description}}
            </input>
        </div>

        <button>Submit Changes</button>
    </div>
        
</div>

<script src="/js/commentSubmission.js" ></script>
<script src="/js/likeHandler.js" ></script>
