<div class="art-piece">
    <div class="main-image">
        <img src="{{artPiece.path}}" > The main view for a single peice of art.
    </div>

    <div class="image-info">
        <h3 class="artist-name">Artist:{{artPiece.artist}}</h3>
        <h3 class="art-name">Piece name: </h3>
        <h3>Genre of art:{{artPiece.genre}}</h3>
    </div>
    <div class="art-description">Description by artist:<ul>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus natus dolor at quidem totam optio dignissimos vitae. Sapiente vitae veniam veritatis ducimus similique beatae, aperiam iusto praesentium itaque culpa repellendus.</li>
            
        </ul>{{artPiece.description}}</div>

    <div>Keywords:
        {{#each artPiece.Keywords as |keyword|}}
        {{keyword.name}}
        {{/each}}
        </div>

    <div class="input-group">
    <div class="input-group-prepend">
        <textarea id="commentInput" class="form-control" aria-label="With textarea"></textarea>
        <button id="submitCommentButton" artId="{{artPiece.id}}" class="input-group-text">Add Comment</button>
    </div>
    </div>

    <input  type="button" class="btn btn-primary" type="submit" value="Like?">

    <div class="recent-comments">Recent comments:
        <ul>
            {{#each artPiece.Comments as |comment|}}
                <li>
                    <div>
                        <h6>From: {{comment.User.username}}</h4>
                        <p>{{comment.content}}</p>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>

<script src="/js/commentSubmission.js" ></script>
