<div id="dashboard">
    <div id="sidebar" class="bg-zinc-900">
        <a href="/addartpiece"><button id="addWorkBtn"> Add New</button></a>
        <br>
        <a href="/search?likedby={{activeUser.id}}"><button id="myLikedBtn"> My Likes </button></a>
        
        <div id="watchingList">
            <h5 class="underline font-bold italic">Watched</h5>
            <div class="flex flex-col">
                {{#each following as |watched|}}
                <a href="/search?userid={{watched.id}}">{{watched.username}}</a>
                {{/each}}
            </div>
        </div>

        <div id="followList" >
            <h5 class="underline font-bold italic">Followers</h5>
            <div class="flex flex-col">
                {{#each followers as |follower|}}
                <a href="/search?userid={{follower.id}}">{{follower.username}}</a>
                {{/each}}
            </div>
        </div>

    </div>

    <div class="artpieces-container" id="dashboard-gallery">
        <h3 class="w-full text-center text-3xl mt-2">{{activeUser.username}}'s Dashboard</h3>
        {{#each artPieces as |artPiece|}}
        <div class="d-flex flex-column justify-content-center align-items-center border border-white m-4 py-3">
            <div id="artpieces-container">
                {{>art-preview-card artPiece}}
            </div>
            <div class="flex flex-row justify-center">
                <a href="/edit/{{artPiece.id}}"><button class="border border-white mx-3 px-3" id="editBtn">Edit</button></a>
                <button class="border border-white mx-3 px-3 removeBtn" artPId="{{artPiece.id}}">Remove</button>
            </div>
        </div>
        {{/each}}
    </div>

</div>

<script src="/js/delete-artpiece-script.js"></script>